*{
    padding: 0;
    margin: 0;
    color: #000000;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
}
body{
    background-image: url("../image/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
    position: absolute;
    text-align: center;
    width: 75%;
    left: 12%;
    top: 2rem;
}
header h1{
	font-family: 'Montserrat', sans-serif; 
    font-size: 60px;
}

header h3{
	font-family: 'Poppins', sans-serif;  
    font-size: 21px;
	margin: 25px;
    padding: 10px;
}

.img{
    width: 33px;
    padding: 50pc;
    margin-bottom: 20px;
}

.content{
    display: flex;
    min-height: 81vh;
}
.content section{
    margin-top: 20vh;
    margin-left: 40vh;
}
.content-form{
    height: 600px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7rem;
    margin: 50px;
    margin-left: 330px;
    font-size:25px;

}
    
   
    .media{
        position: absolute;
        top: 80vh;
        right: 180px;
        
    }

h2{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}