
*{
 margin: 0px;
 padding: 0px;
}

body {
  background-image: url("../image/bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.main{

 margin: 5%;
}

.card{
     width: 20%;
     display: inline-block;
     box-shadow: 2px 2px 20px black;
     border-radius: 5px; 
     margin: 2%;
    }

.image img{
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  

 
 }

.title{
 
  text-align: center;
  padding: 10px;
  font-family: 'Montserrat', sans-serif; 
  
 }

h1{
  font-size: 20px;
 }

.des{
  padding: 3px;
  text-align: center;
 
  padding-top: 10px;
        border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-family: 'Poppins', sans-serif;
}
button{
  margin-top: 40px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  padding:10px;
  font-family: 'Montserrat', sans-serif;
}
button:hover{
  background-color: black;
  color: white;
  transition: .5s;
  cursor: pointer;
}
.heading{
  text-align: center;
  font-size: 200%;
  font-family: 'Montserrat', sans-serif; 
  color: orange;
  letter-spacing: 10px;
  padding-top: 4%;
}
